.header-nav-ul-li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}

.boxicon {
    user-select: none;
    pointer-events: none;
    cursor: default;
}